# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
print("Hello world!")

Hello world!

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [5]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [6]:
print(tpl[0])
print(tpl[len(tpl)//2])
print(tpl[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(f"First three elements: {tpl[:3]}")
print(f"Last three elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in nested_tpl:
    print(row)

print(f"Element at second row and third column: {nested_tpl[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concat_tpl = tpl1 + tpl2
print(concat_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [15]:
tpl3 = (1,2,3,3,4,5,6)
print(tpl3.count(3))
print(tpl3.index(6))

2
6

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [16]:
tup4 = (1,2,3,4,5)
a,b,c,d,e = tup4
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [19]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)
print(lst)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
tpl_of_tple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [22]:
tpl = (1,2,3,4,5)
lst = list(tpl)
print(tpl)
print(lst)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [26]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [27]:
tpl_dict = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9 
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [1]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nested_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [2]:
for tuple in nested_tpl:
    for elements in tuple:
        print(elements)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [4]:
tpl_with_duplicates = (1,2,2,3,4,5,3,4,5,6,4,6,4,8,9,7,)
print(tpl_with_duplicates)
set_without = set(tpl_with_duplicates)
print(set_without)
tpl_wo_dup = tuple(set_without)
print(tpl_wo_dup)

(1, 2, 2, 3, 4, 5, 3, 4, 5, 6, 4, 6, 4, 8, 9, 7)
{1, 2, 3, 4, 5, 6, 7, 8, 9}
(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [5]:
def min_in_tpl(tpl):
    return min(tpl)

def max_in_tpl(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1,2,3,4,5)
print(f"Min: {min_in_tpl(sample_tpl)}")
print(f"Max: {max_in_tpl(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Min: 1
Max: 5
Sum: 15